<html>
<head>
    <title>무작위 선택기</title>
    <link rel="icon" type="image/png" href="images/favicon.svg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.0/css/all.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/csshake/1.5.3/csshake.min.css" integrity="sha512-RliK2gk03WxUELn57ddjWLhEfhUiOZ85VvWLImFy8A7FOPMkF4Z9YGQ3VKX5jpwkEerAL6I0nC+JNeCPrxWBTw==" crossorigin="anonymous" />

    <script src="//code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="min-vh-100 d-flex flex-column" id="top">
    <header>
        <div class="header-inner">
            <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row py-3">
                <div class="nav-inner container">
                    <a class="navbar-brand" id="blogo">
                        <img width="25" height="30" class="d-inline-block align-top brand-logo" v-bind:class="{'active': running}" src="images/favicon.svg" alt="fav">
                        무작위 선택기 OnAir x 제고라이프
                        <img src="data:image/gif;base64,R0lGODlhFwALAJEAAP///wBmmf///wAAACH5BAUUAAIALAAAAAAXAAsAAAImVI6pa+sP4wP0UBCuxYtjboVZV2WlpyneiKxsksYiKNV21NyKUAAAOw==">
                    </a>
                    <!--
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a href="#item-setting" class="nav-link">환경설정</a>
                        </li>
                    </ul>
                -->
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="main-inner container">
            <div class="result-container py-3" id="app">
                <div class="result-label text-center" tabindex="0" @keydown.enter="runCycle" @keydown.right="nextItem" @keydown.left="prvItem">
                    <div>
                    <h4 v-if="title" class="title">
                        {{title}} 당첨자는?
                    </h4>
                    <h3 id="result-value" v-bind:class="{'running': running}" v-bind:title="items[index]" data-toggle="tooltip" data-placement="top" >
                        {{items[index]}}
                    </h3>
                    </div>
                </div>
                <div class="run-result-container text-center">
                    <button class="btn btn-primary shake-slow shake-constant shake-freeze" @click="runCycle" v-bind:disabled="running">
                        <span class="spinner-border spinner-border-sm" v-bind:class="{'d-none': !running}" role="status" aria-hidden="true"></span>
                        Run
                    </button>
                </div>
            </div>   
            <hr id="item-setting"/>
            <div class="items-container py-3" id="items">
                <h3 class="item-container-title text-center mb-5">환경설정</h3>
                <div class="row row-cols-1 row-cols-md-3 cards">
                    <div class="col mb-4" v-for="(group,index) in groups">
                        <div class="card bg-transparent" v-bind:class="actived=='group-' + index? 'card-active' : ''" v-bind:id="'group-' + index">
                            <div class="card-header">
                                <h5 class="card-title mb-0">
                                    <i class="far fa-circle" @click="setActive(index)"></i>
                                    <input type="text" name="card-title" placeholder="그룹 이름" v-model="group.title">
                                </h5>
                            </div>
                            <div class="card-body">
                                <textarea placeholder="옵션을 입력하고 줄바꿈으로 구분해주세요." v-model="group.items"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card bg-transparent card-plus"  @click="addGroup">
                            <div class="card-body">
                                <i class="fas fa-plus-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear-container text-right mb-6 pb-6">
                    <input type="file" name="importSetting" id="importSetting" class="d-none" @change="importOption">
                    <label class="btn btn-outline-info mb-0" for="importSetting">불러오기</label>
                    <button class="btn btn-outline-info" @click="exportOption">내보내기</button>
                    <button class="btn btn-danger" @click="emptyGroup">초기화</button>
                </div>
            </div>     
        </div>
    </main>
    <!--
    <footer>
        <div class="text-right fixed-bottom m-3" v-bind:style="styles" id="b2t-container">
            <button class="btn btn-danger rounded-circle" id="b2t" onclick="javascript:document.body.scrollTop = 0">
                <i class="fas fa-chevron-up"></i>
            </button>
        </div>
    </footer>
-->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="scripts/index.js"></script>
</body>
</html>
